@use "mixin" as *;

.admin {
  .account-card {
    flex-direction: column !important;
    align-items: center !important;
    height: auto;
    padding-bottom: 30px;
    padding-inline: 40px;
    h1 {
      font-size: 40px;
    }
    form {
      width: 100%;
    }
  }
  .information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    .left-part,
    .right-part {
      height: auto;
      gap: 30px;
      width: 40%;
      p {
        color: #434322;
      }
      .exit{
        background-color: rgb(242, 113, 113) !important;
      }
      input,
      textarea,
      button {
        border: none;
        margin-top: 20px;
        width: 100%;
        padding-left: 10px;
        height: 40px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.597);
        color: rgb(201, 194, 194);
      }
      div {
        gap: 20px;
        button {
          width: 50%;
          color: white;
          padding: 0;
          background-color: #434322;
        }
      }
    }
    .right-part {
      width: 40% !important;
      gap: 30px !important;
      display: flex;
      flex-direction: column;
      .dashboard {
        width: 50%;
        color: white;
        padding: 0;
        background-color: #434322;
        a{
            text-decoration: none;
        }
      }
      textarea {
        outline: none;
        min-height: 40px;
        overflow: hidden;
        padding-top: 8px;
        max-height: 100px;
        overflow-y: scroll;
      }
    }
  }
}
