.kids {
  color: #e0e0a0;
  text-align: center;
  font-weight: 700;
  font-family: "poppins", serif;
  margin-top: 40px;
  font-size: 40px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 30px;
}
.seeMore {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 190px;
  color: #6d692ec8;
  font-weight: 600;
  border: 1px solid #e0e0a0;
  border-radius: 200px;
  transition: 0.5s;
  z-index: 1000000;
}
.promo {
  display: flex !important;
  padding-inline: 80px;
  width: 100% !important;
  padding-top: 50px;
  gap: 20px !important;
  overflow: hidden;
  height: 80vh;
  div {
    margin-left: 20px;
  }
  .slick-dots {
    width: 90% !important;
    display: none !important; 
  }
  img {
    width: 100%;
    height: 330px;
    border-radius: 20px;
    margin-left: 10px !important;
    cursor: pointer;
  }
  .promo-item {
    display: flex !important;
  }
}
