@use "mixin" as *;

.login-container,
.dark-login-container {
  .cammon-div {
    justify-content: start !important;
    padding-left: 20px;
    img {
      margin-right: 20px;
      margin-left: 0 !important;
    }
    .signup-card {
      position: relative;
      padding-top: 40px;
      width: 52%;
      margin-right: 0 !important;
      .inputs {
        margin-top: 30px !important;
        input {
          background-color: rgba(255, 255, 255, 0.644) !important;
          color: #989b32 !important;
          border: none !important;
        }
        .email::placeholder,
        .pass::placeholder {
          color: #989b32 !important;
        }
        .text {
          margin-top: 10px !important;
        }
        div {
          .social-m {
            margin-top: 0px !important;
          }
        }
      }
    }
  }
}
.wrong-pop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.226);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999;
  .wrong-card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    button{
      width: 80px;
      height: 30px;
      border: none;
      background-color: rgb(62, 40, 40);
      border-radius: 10px;
      color: white;
      margin-top: 10px;
      
    }
    button:hover{
      background-color: white;
      color: rgb(62, 40, 40);
      border: 1px solid rgb(62, 40, 40);
      transition: .5s ;
    }
    p{
      color: rgb(62, 40, 40);
      font-weight: 500;
      margin-top: 20px !important;
    }
    img{
      width: 180px;
    }
  }
}
.dark-login-container {
  .cammon-div {
    .signup-card {
      .inputs {
        div {
          .email,
          .pass {
            color: #354660 !important;
          }
          .email::placeholder,
          .pass::placeholder {
            color: #354660 !important;
          }
        }
      }
    }
  }
}
