.light-not-found{
    flex-direction: column;
    padding-top: 40px;
    h1{
        font-size: 100px;
        margin-bottom: -90px;
        z-index: 1000;
        font-weight: 600;
    }
    h3{
        margin-top: -45px;
        font-size: 35px;
        margin-bottom: 45px;
    }
    button{
        height: 40px;
        width: 150px;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        background-color: #bdc150f5;
        color: white;
    }
}
.dark-not-found{
    background-color: #354660;
    h1,h3{
        color: white;
    }
    button{
        background-color: white;
        color: #354660;
    }
}