@use "mixin" as *;
.detail-card,
.dark-detail-card {
  display: flex;
  padding-inline: 80px;
  padding-block: 40px;
  .product-detail {
    display: flex;
    background-color: #f5bbb981;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    gap: 30px;
    .left-part {
      img {
        border-radius: 20px;
        width: 350px;
        height: 527px;
      }
    }
    .right-part::-webkit-scrollbar {
      width: 6px;
    }

    .right-part::-webkit-scrollbar-thumb {
      background: #76514f;
      border-radius: 10px;
    }

    .right-part::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: 10px;
    }
    .right-part {
      display: flex;
      flex-direction: column;
      overflow: auto;
      max-height: 527px;
      overflow: auto;
      .rating {
        margin-top: 10px;
      }
      h1 {
        font-size: 35px;
        margin-top: 10px !important;
        color: #b07e7c;
      }

      .desc {
        margin-block: 10px;
        width: 95%;
        p {
          color: #76514f;
        }
      }
      .author {
        p {
          a {
            color: #b07e7c;
          }
          span {
            color: rgb(0, 0, 0);
            font-weight: 100;
          }
        }
        .rating {
          margin-top: 20px !important;
        }
      }

      .CartBtn {
        width: 30%;
        height: 45px;
        border-radius: 100px;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: 0.5s;
        overflow: hidden;
        box-shadow: 10px 5px 10px rgb(240, 194, 194);
        position: relative;
        .IconContainer {
          position: absolute;
          left: -30px;
          width: 30px;
          height: 30px;
          background-color: transparent;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          z-index: 2;
          transition-duration: 0.5s;
          color: #76514f !important;
        }
        .icon {
          border-radius: 1px;
        }

        .text {
          height: 100%;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #76514f;
          z-index: 1;
          transition-duration: 0.5s;
          font-size: 1.04em;
          font-weight: 600;
        }
      }
      .CartBtn:hover .IconContainer {
        transform: translateX(58px);
        border-radius: 40px;
        transition-duration: 0.5s;
      }

      .CartBtn:hover .text {
        transform: translate(10px, 0px);
        transition-duration: 0.5s;
      }

      .CartBtn:active {
        transform: scale(0.95);
        transition-duration: 0.5s;
      }
      .wish {
        background-color: #76514f !important;
        width: 35%;
        .text {
          color: white !important;
        }
      }
      .back {
        margin-top: 20px;
        button{
          box-shadow: none !important;
        }
      }
      .buttons {
        margin-block: 20px;
        display: flex;
        gap: 20px;
        .add-button{
          background-color: transparent !important;
          border: none !important;
        }
      }
      .detail {
        display: flex;
        flex-direction: row;
        gap: 50px;
        p {
          color: #3f2422;
          span {
            color: #b07e7c;
          }
        }
      }
    }
  }
}
.dark-detail-card{
  .price{
    margin-left: 15px;
  }
}
.detail-card {
  .price {
    margin-top: 0px;
    .price-text {
      display: flex;
      align-items: center;
      flex-direction: row !important;
      svg {
        margin-top: 5px;
        path {
          fill: #b07e7c !important;
        }
      }
      h1 {
        margin: 0 !important;
      }
    }
  }
}
.dark-detail-card {
  @include darkMode();
  .product-detail {
    background-color: #d77056;
    .desc {
      p {
        color: #354660 !important;
      }
    }
    .detail {
      p {
        color: #354660 !important;
        span {
          color: white !important;
        }
      }
    }
    .back {
      button {
        background-color: #354660 !important;
        box-shadow: 10px 5px 10px #d77056 !important;
        .text,path {
          stroke: white;
          color: white !important;
        }
      }
    }
    .buttons {
      .CartBtn {
        box-shadow: 10px 4px 20px #a7533d !important;
        .text {
          color: #354660 !important;
        }
        path{
          fill: #354660;
        }
      }
      .wish {
        background-color: #354660 !important;
        .text {
          color: white !important;
        }
      }
    }
    h3 {
      color: #354660 !important;
    }
    h1 {
      color: #354660 !important;
    }
    .price {
      margin-top: 0px;
      .price-text {
        display: flex;
        align-items: center;
        flex-direction: row !important;
        svg {
          margin-top: 5px;
          path {
            fill: #354660 !important;
          }
        }
        h1 {
          margin: 0 !important;
        }
      }
    }

    .author {
      a,
      span {
        color: white !important;
      }
    }
  }
}
@media(max-width:1113px){
  .dark-detail-card,.detail-card{
    .right-part{
      h1{
        font-size: 20px !important;
      }
      .buttons{
        button{
          height: 30px !important;
          width: 40% !important;
          .text{
            font-size: 13px !important;
          }
        }
      }
      .back{
        height: 30px !important;
        width: 100% !important;
        .text{
          font-size: 13px !important;
        }
      }
    }
  }
}
@media(max-width:992px){
  .dark-detail-card,.detail-card{
    padding-inline: 20px !important;
    .left-part{
      img{
        width: 300px !important;
        height: 440px !important;
      }
    }
    .right-part{
      height: 440px !important;
    }
  }
}