@use "mixin" as *;
.product {
  .products,
  .dark-products {
    padding-top: 20px !important;
    // padding-inline: 80px !important;
  }
}
.products,
.dark-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.range {
  margin-top: 10px !important;
  span {
    font-weight: 700;
    margin-left: 10px;
  }
}
select {
  outline: none;
}
.dark-bottom {
  @include darkMode();
}
.not-found {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: #5d5d29;
    font-size: 30px;
    margin-top: 30px;
  }
}
.dark-category-items {
  @include darkMode();
  .catt {
    color: white !important;
    border: 1px solid white !important;
    .arrow {
      color: white !important;
    }
  }
  .opened-cat {
    background-color: #354660 !important;
    box-shadow: 0px 0px 10px 5px #28354a;
    button {
      color: white !important;
    }
  }
}
.dark-category-items {
  .track {
    background-color: #d77056 !important;
  }
  .range {
    color: #d77056 !important;
  }
}
.category-items,
.dark-category-items {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding-inline: 80px;
  gap: 30px;
  padding-bottom: 0px;
  .lang-btn {
    width: 130px !important;
  }
  .lang {
    width: 130px !important;
  }
  .catt {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 1px solid #5d5d2952;
    color: #5d5d29;
  }

  .opened-cat::-webkit-scrollbar {
    width: 1px;
  }
  .opened-cat::-webkit-scrollbar-thumb {
    background: white !important;
  }
  .opened-cat::-webkit-scrollbar-track {
    background: white;
  }
  .opened-cat {
    display: flex;
    max-height: 300px;
    overflow: auto;
    flex-direction: column;
    width: 180px;
    margin-top: 0px;
    background-color: white;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.235);
    z-index: 100;
    position: absolute;
    button {
      background-color: transparent;
      text-align: left;
      border: none;
      color: #6d692e;
      padding-left: 20px;
      padding-block: 10px;
      transition: 0.2s;
    }
    button:hover {
      color: white;
      transition: 0.2s;
      background-color: grey;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  .bottom-category,
  .dark-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 80px;
    gap: 30px;
  }

  .body-section,
  .dark-body-section {
    width: 100%;
  }
  .pagination,
  .dark-pagination {
    display: flex;
    padding-block: 40px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;

    button {
      height: 25px;
      width: 25px;
      color: white;
      border-radius: 1000px;
      border: none;
      font-size: 14px;
      background-color: #76514f;
      transition: 0.5s;
    }
    button.active {
      background-color: #d8aaa8;
      height: 20px;
      width: 20px;
      transition: 0.5s;
      font-size: 12px;
    }
  }
}
.products {
  padding-top: 50px;
}

.dark-products,
.dark-pagination {
  @include darkMode();
}
.dark-pagination {
  button {
    background-color: #d77056 !important;
  }
  button.active {
    background-color: white !important;
    color: #76514f;
  }
}
@media (max-width: 1235px) {
  .dark-products,
  .products {
    align-items: center;
    justify-content: center;
  }
  .line {
    width: 250px !important;
  }
  .range {
    span {
      margin-left: 40px;
    }
  }
}
@media (max-width: 992px) {
  .products,.dark-products{
    padding-inline: 10px !important;
  }
  .line {
    width: 160px !important;
  }
  .range {
    font-size: 12px !important;
    span {
      font-size: 12px !important;
      margin-left: 20px !important;
    }
  }
  .category-items,.dark-category-items {
    padding-inline: 20px !important;
    .catt {
      width: 100px !important;
      font-size: 14px;
      height: 30px;
    }
    
    .lang-btn {
      width: 110px !important;
    }
    .opened-cat {
      width: 100px !important;
      button {
        font-size: 13px;
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 717px) {
  .product {
    padding: 0 !important;
  }
  .dark-products,
  .products {
    width: 100% !important;
    gap: 10px !important;
  
  }

  .dark-pagination,
  .pagination {
    button {
      height: 25px !important;
    }
    button.active {
      height: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .category-items,.dark-category-items {
    flex-direction: column;
  }
  .range-div {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .category-items,.dark-category-items {
    .catt {
      font-size: 12px !important;
      height: 25px !important;
    }
  }
  .dark-products,
  .products {
    padding-top: 10px !important;
  }
}
@media (max-width: 430px) {
  .dark-products,
  .products {
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (max-width: 440px) {
  .category-items,.dark-category-items {
    .cammon-div {
      gap: 10px !important;
    }
  }
}
@media (max-width: 400px) {
  .category-items,.dark-category-items {
    .cammon-div {
      display: flex;
      flex-wrap: wrap;
      gap: 10px !important;
    }
  }
}

@media (max-width: 370px) {
  .category-items,.dark-category-items{
    padding-left: 5px !important;
  }

  .pagination,.dark-pagination{
    width: 80% !important;
    button{
      height: 15px !important;
      width: 15px !important;
    }
  }
  .dark-products,
  .products {
    padding-left: 5px !important;
    align-items: start !important;
    justify-content: start !important;
  }
}
