@use "mixin" as *;
.single-card,
.dark-single-card {
  position: relative;
  transition: 0.5s;
  height: 674px;
  bottom: 0;
  width: 250px;
  transition: 0.5s !important;
  background-color: #ffd7d682;
  border-radius: 20px;
  position: relative;
  display: flex;
  padding-block: 10px;
  padding-inline: 10px;
  flex-direction: column;
  img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    cursor: pointer;
  }
  .like,
  .see {
    background-color: #d89f9db4;
    width: 37px;
    height: 37px;
    @include flex();
    border-radius: 1000px;
    position: absolute;
    right: -10px;
    top: 30px;
  }

  .see {
    margin-top: 46px;
  }
  .name {
    margin-left: 15px;
    h3 {
      color: #d99f9d;
      text-overflow: ellipsis;
      width: 90%;
      font-size: 25px;
      margin-top: 0px;
      font-size: 20px;
      width: 100% !important;
      overflow-wrap: break-word;
    }
    p {
      color: #d99f9d;
      font-size: 13px;
      max-width: 900px !important;
      margin-bottom: 0 !important;
      overflow-wrap: break-word;
      max-width: 700px !important;
      text-overflow: ellipsis;
    }
    h1 {
      color: #d99f9d;
      cursor: pointer;
      font-family: "Rowdies", serif;
      margin-top: 30px;
      font-size: 25px;
      max-width: 200px !important;
      margin-bottom: 0 !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis !important;
      span {
        font-size: 20px;
        font-weight: 400;
        font-family: "KoHo", serif;
      }
    }
  }
  .price {
    margin-left: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 100px;

    .price-text {
      display: flex;
      align-items: center;
      h1 {
        font-family: "Righteous", serif;
        font-size: 30px;
        color: #7b413f;
        margin: 0;
      }
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
  .add-to-cart {
    position: absolute;
    bottom: 60px;
    width: 90%;
    button {
      background-color: #7b413f;
      color: white;
      border: none;
      height: 34px;
      width: 90%;
      border-radius: 30px;
      transition: 0.5s;
      margin-left: 15px;
    }
    button:hover {
      background-color: white;
      color: #7b413f;
      transition: 0.5s;
      font-weight: 600;
      border: 1px solid #7b413f;
    }
  }
  .more-information {
    font-family: "Righteous", serif;
    background-color: white;
    color: #ffd7d6;
    border: none;
    margin-left: 15px;
    outline: none;
    width: 81%;
    height: 34px;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
    bottom: 10px;
    transition: 0.5s;
  }
  .more-information:hover {
    background-color: #d89f9d;
    color: white;
    transition: 0.5s;
  }
}
.single-card {
  .price {
    svg {
      path {
        fill: #7b413f !important;
      }
    }
  }
  .add-to-cart {
    button {
      background-color: #d89f9d !important;
    }
    button:hover {
      color: #d99f9d !important;
      background-color: white !important;
    }
  }
  .more-information {
    color: #7b413f !important;
  }
  .more-information:hover {
    background-color: #7b413f;
    color: white !important;
  }
}
.click{
  background-color: red !important;
}

.dark-single-card {
  transition: .5s;
  .price {
    svg {
      path {
        fill: white !important;
      }
    }
  }
  .more-information {
    color: #7b413f;
  }
  .add-to-cart {
    button:hover {
      background-color: white !important;
      color: #354660;
    }
  }
  .more-information:hover {
    background-color: #7b413f;
    color: white !important;
  }
}
.dark-single-card {
  background-color: #d77056;
  h1,
  h3,
  p {
    color: white !important;
  }
  .see,
  .like {
    background-color: #d77056c9;
  }
}

.add-to-cart {
  button {
    background-color: #354660 !important;
  }
}
.more-information {
  color: #d77056 !important;
}
.card-book {
  height: 700px;
}

.dark-single-card:hover {
  bottom: 20px;
  transition: 0.5s;
  .see {
    background-color: #d77056;
    transition: 0.4s;
  }
  .like {
    background-color: #d77056;
    transition: 0.3s;
  }
}
.single-card:hover {
  bottom: 20px;
  transition: 0.5s;
  .see {
    background-color: #d89f9d;
    transition: 0.4s;
  }
  .like {
    background-color: #d89f9d;
    transition: 0.3s;
  }
}
@media (max-width: 1244px) {
  .dark-single-card,
  .single-card {
    width: 340px;
    height: 730px;
    img {
      height: 400px;
    }
  }
}
@media (max-width: 1235px) {
  .dark-single-card,
  .single-card {
    width: 350px;
    height: 730px;
    img {
      height: 400px;
    }
  }
}
@media (max-width: 1120px) {
  .dark-single-card,
  .single-card {
    width: 200px;
    height: 580px;
    img {
      width: 180px;
      height: 240px;
    }
    .name,
    .add-to-cart button,
    .more-information {
      margin-left: 0 !important;
    }
    h1 {
      font-size: 20px !important;
    }
    .price {
      margin-left: 0 !important;
    }
  }
}
@media (max-width: 992px) {
  .dark-single-card,
  .single-card {
    width: 280px;
    height: 650px;
    .price {
      svg {
        width: 15px !important;
      }
    }
    .name {
      p {
        display: none;
      }
    }
    img {
      width: 260px;
      height: 400px;
    }
  }
}
@media (max-width: 629px) {
  .dark-single-card,
  .single-card {
    width: 220px;
    height: 600px;
    .price {
      bottom: 120px;
    }
    img {
      width: 200px;
      height: 320px;
    }
  }
}
@media (max-width: 510px) {
  .dark-single-card,
  .single-card {
    width: 130px !important;
    height: 340px;
    padding-top: 10px !important;
    border-radius: 10px !important;
    padding: 5px !important;

    img {
      width: 120px;
      height: 150px;
      border-radius: 10px !important;
    }
    .name {
      h1,
      span,
      h3 {
        margin: 0 !important;
        margin-top: 10px !important;
        font-size: 14px !important;
      }
      p {
        display: none !important;
      }
    }
    .price {
      bottom: 70px;
    }
    .more-information {
      font-size: 10px !important;
      height: 20px !important;
      margin: 0 !important;
    }
    .add-to-cart {
      bottom: 40px !important;
      button {
        font-size: 10px !important;
        height: 20px !important;
      }
    }
  }
}
@media (max-width: 490px) {
  .dark-single-card,
  .single-card {
    width: 125px !important;
    height: 360px;
    padding-top: 10px !important;
    border-radius: 10px !important;

    img {
      width: 115px !important;
      height: 170px;
      border-radius: 10px !important;
    }
  }
}

@media (max-width: 474px) {
  .dark-single-card,
  .single-card {
    width: 116px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;

    img {
      width: 106px !important;
      height: 160px;
      border-radius: 10px !important;
    }
  }
}
@media (max-width: 448px) {
  .dark-single-card,
  .single-card {
    width: 180px !important;
    height: 410px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;
    img {
      width: 170px !important;
      height: 220px !important;
      border-radius: 10px !important;
    }
  }
}
@media (max-width: 430px) {
  .dark-single-card,
  .single-card {
    width: 170px !important;
    height: 430px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;
    img {
      width: 99% !important;
      height: 420px;
      border-radius: 10px !important;
    }
    .price {
      bottom: 90px !important;
    }
    .add-to-cart {
      bottom: 50px !important;
      button {
        height: 30px !important;
        width: 100%;
      }
    }
    .more-information {
      height: 30px !important;
      width: 90%;
    }
  }
}
@media (max-width: 410px) {
  .dark-single-card,
  .single-card {
    width: 150px !important;
    height: 430px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;
    img {
      width: 99% !important;
      height: 420px;
      border-radius: 10px !important;
    }
  }
}
@media (max-width: 370px) {
  .dark-single-card,
  .single-card {
    width: 140px !important;
    height: 430px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;
    img {
      width: 99% !important;
      height: 200px !important;
      border-radius: 10px !important;
    }
  }
}
