@use "mixin";
@use "header";
@use "aboutUs";
@use "animation";
@use "body-section";
@use "faq";
@use "contactUs";
@use "signup";
@use "login";
@use "singleCard";
@use "account";
@use "product";
@use "admin";
@use "dashboard";
@use "productDetail";
@use "addtocart";
@use "bodySection";
@use "kidsBook";
@use "formalizeOrder";
@use "addBook";
@use "author";
@use "NotFound";
.kids-cat {
  padding-inline: 80px;
}
.dark-not-found,
.not-found {
  width: 100%;
}
#products {
  scroll-margin-top: 100px; /* Üst boşluq */
}
.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000000000000;
  background-color: #6d692eb0;
  border-radius: 100px;
  padding: 9px;
  cursor: pointer;
}
.wishlist-icon {
  position: relative;
}
.wish-count {
  position: absolute;
  top: -4px;
  color: white;
  background-color: #f5bbb9;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 12px;
  right: -5px;
}
.wish-product,
.dark-products {
  padding-top: 50px;
}
.clear-button,
.dark-clear-button {
  display: flex;
  justify-content: end;
  padding-right: 80px;
  padding-block: 30px;
  width: 100%;
}
.dark-clear-button {
  background-color: #354660;
  button {
    background-color: white;
    color: #354660;
  }
}
.clear {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  font-weight: 700;
  background-color: #f5bbb9;
  color: white;
}
.dark-empty-title {
  color: white;
  transition: 0.5s;
}
.link {
  flex-direction: row !important;
}
